.custom-button {
  margin-top: 25px;
  margin-right: 25px;
  padding: 20px;
  width: 200px;
  height: 140px;
  background-color: #28282a;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #3a3a3c;
}

.custom-button.active {
  background-color: #1a73e8;
  color: white;
}