.custom-button {
  margin: 12px;
  padding: 16px;
  width: 100%;
  max-width: 200px;
  min-height: 150px;
  background-color: #2563eb; 
  color: #f4f4f5;

  font-size: 30px;
  font-weight: 500;

  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
}

.custom-button:hover {
  transform: translateY(-4px);
}

/* Active state */
.custom-button.active {
  background-color: #f4f4f5;
  color: #18181b;
}

@media (max-width: 768px) {
  .custom-button {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    padding: 12px;
    min-height: 100px;
  }
}
