.navbar {
    background-color: #18181b;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    height: 90px;
    margin: 0; 
    width: 100%;
    position:fixed;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-icon {
    color: #38bdf8;
  }
  
  .brand-name {
    font-size: 45px;
    font-weight: bold;
  }
  
  .navbar-links ul {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .navbar-links li:hover {
    color: #38bdf8;
  }